<ng-container *ngIf="isLoading$ | async; else loading">
  <div class="flex h-full flex-column justify-content-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-container>
<ng-template #loading>
  <div class="flex flex-column h-full md:flex-row align-items-center justify-content-evenly md:p-6">
    <div class="px-2 md:px-0 text-center">
      <h1 class="text-2xl text-center md:text-4xl font-bold mb-4 mt-8 md:mt-0 md:mb-0">Stash all your games you plan to buy here!</h1>
      <p class="text-center px-4 mb-5 text-lg md:text-xl md:px-0">Wishlister is a simple app that allows you to keep track of all the games you want to buy.</p>

      <ng-container *ngIf="isAuthenticated$ | async; else unAuthenticated">
        <!-- eslint-disable-next-line -->
        <button (click)="redirectToDashboard()" icon="pi pi-list" pButton pRipple label="See your wishlist"></button
      ></ng-container>
      <ng-template #unAuthenticated>
        <!-- eslint-disable-next-line -->
        <button (click)="login()" icon="pi pi-user" pButton pRipple label="Join today!"></button>
      </ng-template>
    </div>
    <div class="flex justify-content-center">
      <img src="../../../assets/pad.png" class="overflow-auto" alt="pad" style="max-width: 70%; object-fit: contain" />
    </div>
  </div>
</ng-template>
