<p-card class="flex my-4 justify-content-center">
  <form
    class="flex flex-column gap-2"
    [formGroup]="gameForm"
    (ngSubmit)="onSubmit()"
  >
    <div>
      <img
        src="../../../assets/game-controller.svg"
        alt="Image"
        height="50"
        width="50"
        class="mb-1 block mx-auto"
      />
      <div class="text-900 text-center mx-6 text-3xl font-medium mb-1">
        Add a new game
      </div>
    </div>
    <p-inputGroup class="title">
      <input pInputText formControlName="title" placeholder="Title" />
    </p-inputGroup>
    <p-inputGroup class="platform">
      <input pInputText formControlName="platform" placeholder="Platform" />
    </p-inputGroup>
    <p-inputGroup class="genre">
      <input pInputText formControlName="genre" placeholder="Genre" />
    </p-inputGroup>
    <p-inputGroup class="developer">
      <input pInputText formControlName="developer" placeholder="Developer" />
    </p-inputGroup>
    <p-inputGroup class="price">
      <input
        pInputText
        formControlName="price"
        placeholder="Price"
        type="number"
      />
    </p-inputGroup>
    <p-inputGroup class="wishlistPriority">
      <input
        pInputText
        formControlName="wishlistPriority"
        placeholder="Wishlist Priority"
        type="number"
      />
    </p-inputGroup>
    <div class="releaseStatus flex justify-content-between">
      <div class="flex gap-2 align-items-center">
        <p-toggleButton
          formControlName="releaseStatus"
          onLabel="Yes"
          offLabel="No"
        ></p-toggleButton>
        <label for="releaseStatus">Is it out yet?</label>
      </div>
      <p-button type="submit" label="Add shop link"></p-button>
    </div>
    <p-inputGroup *ngIf="gameForm && gameForm.get('releaseStatus')!.value">
      <p-calendar
        type="date"
        placeholder="Release Date"
        formControlName="releaseDate"
        [minDate]="date"
        [showIcon]="true"
        [readonlyInput]="true"
        styleClass="w-full"
      />
    </p-inputGroup>
    <div class="w-full text-center">
      <p-multiSelect
        styleClass="w-full"
        [options]="tags"
        formControlName="selectedTags"
        optionLabel="name"
        placeholder="Select tags"
      ></p-multiSelect>
    </div>
    <p-inputGroup> </p-inputGroup
    ><p-inputGroup>
      <textarea
        pInputTextarea
        formControlName="personalNotes"
        placeholder="personalNotes"
        class="w-full border-1 border-gray-300 border-round text-center"
      ></textarea>
    </p-inputGroup>
    <div class="flex mt-2 gap-2 justify-content-center">
      <p-button type="submit" label="Submit"></p-button>

      <p-button type="reset" label="Reset"></p-button>
      <p-button type="button" label="Cancel"> </p-button>
    </div>
  </form>
</p-card>
