<p-card styleClass="bg-primary-50 border-1 shadow-2 shadow-primary border-primary flex my-4 justify-content-center">
  <form class="flex flex-column gap-2" [formGroup]="gameForm" appDateRequired (ngSubmit)="onSubmit()">
    <div>
      <img src="../../../assets/game-controller.svg" alt="Image" height="50" width="50" class="mb-1 block mx-auto" />
      <div class="text-900 text-center mx-6 text-3xl font-medium mb-1">{{ editForm ? 'Edit game' : 'Add a new game' }}</div>
    </div>
    <div class="title flex flex-column gap-1">
      <input
        [ngClass]="{ 'ng-invalid ng-dirty': gameForm.controls.title.invalid && (gameForm.controls.title.dirty || gameForm.controls.title.touched) }"
        pInputText
        formControlName="title"
        placeholder="Title"
        class="ng-invalid ng-dirty" />
      <small id="title-help" class="p-error" *ngIf="gameForm.controls.title.invalid && (gameForm.controls.title.dirty || gameForm.controls.title.touched)">
        {{ getErrorMessage('title') }}
      </small>
    </div>

    <div class="platform flex flex-column gap-1">
      <input
        [ngClass]="{ 'ng-invalid ng-dirty': gameForm.controls.platform.invalid && (gameForm.controls.platform.dirty || gameForm.controls.platform.touched) }"
        pInputText
        formControlName="platform"
        placeholder="Platform" />
      <small
        id="platform-help"
        class="p-error"
        *ngIf="gameForm.controls.platform.invalid && (gameForm.controls.platform.dirty || gameForm.controls.platform.touched)">
        {{ getErrorMessage('platform') }}
      </small>
    </div>

    <div class="developer flex flex-column gap-1">
      <input
        [ngClass]="{ 'ng-invalid ng-dirty': gameForm.controls.developer.invalid && (gameForm.controls.developer.dirty || gameForm.controls.developer.touched) }"
        pInputText
        formControlName="developer"
        placeholder="Developer" />
      <small
        id="developer-help"
        class="p-error"
        *ngIf="gameForm.controls.developer.invalid && (gameForm.controls.developer.dirty || gameForm.controls.developer.touched)">
        {{ getErrorMessage('developer') }}
      </small>
    </div>

    <div class="price flex flex-column gap-1">
      <input
        [ngClass]="{ 'ng-invalid ng-dirty': gameForm.controls.price.invalid && (gameForm.controls.price.dirty || gameForm.controls.price.touched) }"
        pInputText
        min="0"
        formControlName="price"
        placeholder="Price $"
        type="number" />
      <small id="price-help" class="p-error" *ngIf="gameForm.controls.price.invalid && (gameForm.controls.price.dirty || gameForm.controls.price.touched)">
        {{ getErrorMessage('price') }}
      </small>
    </div>

    <div class="wishlistPriority flex flex-column gap-1">
      <input
        [ngClass]="{
          'ng-invalid ng-dirty':
            gameForm.controls.wishlistPriority.invalid && (gameForm.controls.wishlistPriority.dirty || gameForm.controls.wishlistPriority.touched)
        }"
        pInputText
        min="0"
        formControlName="wishlistPriority"
        placeholder="Wishlist Priority"
        type="number" />
      <small
        id="wishlistPriority-help"
        class="p-error"
        *ngIf="gameForm.controls.wishlistPriority.invalid && (gameForm.controls.wishlistPriority.dirty || gameForm.controls.wishlistPriority.touched)">
        {{ getErrorMessage('wishlistPriority') }}
      </small>
    </div>
    <div class="releaseStatus flex flex-column align-items-center sm:flex-row sm:justify-content-between gap-2">
      <div class="flex gap-2 align-items-center">
        <span class="text-primary-600 font-bold">Is it out yet?</span>
        <p-toggleButton formControlName="releaseStatus" (onChange)="resetDate()" id="releaseStatusButton" onLabel="No" offLabel="Yes"></p-toggleButton>
      </div>
      <p-button (click)="addPurchaseLink()" label="Add shop link"></p-button>
    </div>
    <div class="date flex flex-column gap-1" *ngIf="gameForm && gameForm.get('releaseStatus')!.value">
      <p-calendar
        type="date"
        placeholder="Release Date"
        formControlName="releaseDate"
        [minDate]="date"
        [showIcon]="true"
        [readonlyInput]="true"
        [class]="getStyleClass()"
        styleClass="w-full" />
      <small
        id="title-help"
        class="p-error"
        *ngIf="dateErrorStatus() === true && (gameForm.controls.releaseDate.dirty || gameForm.controls.releaseDate.touched)">
        Release date is required if release status is set to true.
      </small>
    </div>
    <div class="flex flex-column gap-2" formArrayName="purchaseLinks">
      <div *ngFor="let purchaseLinksForm of purchaseLinks.controls; index as i">
        <app-purchase-links-form (remove)="removePurchaseLink(i)" [purchaseLinksForm]="purchaseLinksForm" />
      </div>
    </div>
    <div class="w-full">
      <p-multiSelect
        [ngClass]="{
          'ng-invalid ng-dirty': gameForm.controls.tags.invalid && (gameForm.controls.tags.dirty || gameForm.controls.tags.touched)
        }"
        styleClass="w-full"
        [options]="tags"
        [group]="true"
        formControlName="tags"
        optionLabel="label"
        placeholder="Select tags">
        <ng-template let-group pTemplate="group">
          <div class="flex align-items-center">
            <span>{{ group.label }}</span>
          </div>
        </ng-template>
      </p-multiSelect>
      <small
        id="tags-help"
        class="p-error"
        *ngIf="gameForm.controls.wishlistPriority.invalid && (gameForm.controls.wishlistPriority.dirty || gameForm.controls.wishlistPriority.touched)">
        {{ getErrorMessage('tags') }}
      </small>
    </div>
    <p-inputGroup> </p-inputGroup
    ><p-inputGroup>
      <textarea
        pInputTextarea
        formControlName="personalNotes"
        placeholder="personalNotes"
        maxlength="255"
        class="w-full border-1 border-gray-300 border-round text-center"></textarea>
    </p-inputGroup>
    <div class="flex flex-column sm:flex-row align-items-center mt-2 gap-2 justify-content-center">
      <p-button type="submit" label="Submit"></p-button>
      <p-button type="button" (click)="resetForm()" label="Reset"></p-button>
      <p-button type="button" (click)="goBack()" label="Cancel"> </p-button>
    </div>
  </form>
</p-card>
