<div class="flex flex-column justify-content-center h-full">
  <div *ngIf="loading"><p-progressSpinner></p-progressSpinner></div>
  <div *ngIf="!loading && !error">
    <div class="flex flex-column p-3 shadow-3 border-1 border-round">
      <div class="flex flex-col">
        <div class="flex flex-col w-full">
          <div class="mb-4">
            <h2 class="font-bold text-xl mb-2 text-primary-700">{{ game?.title | titlecase }}</h2>
            <div class="flex flex-wrap gap-2 mb-2">
              <p class="px-2 bg-gray-400 text-white border-round-xl" *ngFor="let tag of game?.tags">{{ tag }}</p>
            </div>
            <p class="text-gray-700 text-base">Platform: {{ game?.platform }}</p>
            <p class="text-gray-700 text-base">Developer: {{ game?.developer }}</p>
            <p class="text-gray-700 text-base">Price: {{ game?.price !== 0 ? (game?.price | number : '1.2-2') + '$' : 'Free to play' }}</p>
            <p class="text-gray-700 text-base">Wishlist Priority: {{ game?.wishlistPriority }}</p>
            <p class="text-gray-700 text-base">Release Status: {{ game?.releaseStatus ? 'Not Released' : 'Released' }}</p>
            <p *ngIf="game?.releaseStatus" class="text-gray-700 text-base">Release Date: {{ game?.releaseDate }}</p>
            <p class="text-gray-700 text-base">
              Purchase Links:
              <span ngClass="text-red-500" *ngIf="game?.purchaseLinks?.length === 0" class="text-gray-700 text-base">No purchase links added.</span>
            </p>
            <div class="flex gap-2">
              <p *ngFor="let link of game?.purchaseLinks; let i = index">
                <a [href]="link" target="_blank">
                  <p-badge styleClass="bg-primary-800" value="Link{{ i + 1 }}"></p-badge>
                </a>
              </p>
            </div>
            <p class="text-gray-700 text-base">Personal Notes: {{ game?.personalNotes }}</p>
          </div>
        </div>
      </div>
      <div>
        <!-- desktop buttons -->
        <div class="flex justify-content-center gap-2">
          <p-button [routerLink]="['/game', game?.id, 'edit']" label="Edit" icon="pi pi-pencil" styleClass="hidden sm:inline"></p-button>
          <p-button [routerLink]="['/game', game?.id, 'addDLC']" label="Add DLC" icon="pi pi-plus" severity="info" styleClass="hidden sm:inline"></p-button>
          <p-button label="Delete" (click)="confirmGameDeletion()" icon="pi pi-trash" styleClass="p-button-danger  hidden sm:inline"></p-button>
          <p-button [outlined]="true" label="Back" [routerLink]="['/dashboard']" icon="pi pi-arrow-right" styleClass="hidden sm:inline"></p-button>
        </div>
        <!-- mobile buttons -->
        <div class="flex justify-content-center gap-2">
          <p-button
            pTooltip="edit game"
            tooltipPosition="bottom"
            [routerLink]="['/game', game?.id, 'edit']"
            icon="pi pi-pencil"
            styleClass="sm:hidden"></p-button>
          <p-button
            pTooltip="add a new dlc"
            tooltipPosition="bottom"
            [routerLink]="['/game', game?.id, 'addDLC']"
            icon="pi pi-plus"
            severity="info"
            styleClass="sm:hidden"></p-button>
          <p-button
            pTooltip="delete game"
            tooltipPosition="bottom"
            icon="pi pi-trash"
            (click)="confirmGameDeletion()"
            severity="danger"
            styleClass="sm:hidden"></p-button>
          <p-button
            pTooltip="back to dashboard"
            [outlined]="true"
            tooltipPosition="bottom"
            [routerLink]="['/dashboard']"
            icon="pi pi-arrow-right"
            styleClass="sm:hidden"></p-button>
        </div>
      </div>
    </div>

    <p class="text-center mt-4 mb-2 text-xl font-semibold">{{ (game?.dlcs)!.length > 0 ? 'DLCS:' : "No dlc's available" }}</p>
    <div class="flex justify-content-between mb-3" *ngFor="let dlc of game?.dlcs">
      <p-inputGroup class="border-2 border-round-lg shadow-2">
        <div class="flex justify-content-between align-items-center w-full p-2">
          <p>{{ dlc.title }}</p>
          <p>{{ dlc.price | number : '1.2-2' }}$</p>
        </div>
        <button
          [routerLink]="['/game', game?.id, 'dlc', dlc.dlcId]"
          pButton
          pRipple
          class="p-button-primary p-button-outlined mr-1 my-1"
          icon="pi pi-pencil"></button>
        <button pButton pRipple class="p-button-danger p-button-outlined mr-1 my-1" (click)="confirmDlcDeletion(dlc.dlcId)" icon="pi pi-trash"></button>
      </p-inputGroup>
    </div>
  </div>
</div>
