<div class="h-[84px] flex bg-primary-reverse items-center">
  <p-menubar *ngIf="!loading" class="w-full" [model]="items">
    <ng-template pTemplate="start">
      <div class="flex items-center mb-1">
        <img
          alt="Wishlister logo"
          src="../../../assets/game-controller.svg"
          class="mx-2 shadow-md rounded-full p-1 bg-white sm:block hidden"
          width="64"
        />
        <h1 class="mr-2 font-bold text-4xl text-primary hidden sm:block">
          Wishlister
        </h1>
        <h1
          class="w-16 h-16 rounded-full bg-white border mr-2 font-bold text-4xl text-primary sm:hidden flex items-center justify-center"
        >
          W
        </h1>
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div *ngIf="auth.user$ | async as user" class="flex items-center">
        <p class="ml-2">{{ user.name ? user.name : "User" }}</p>
        <img
          [src]="user.picture ? user.picture : 'default'"
          alt="User Avatar"
          class="rounded-full object-cover h-16 mx-2 shadow"
        />
      </div>
    </ng-template>
  </p-menubar>
  <p-progressBar
    *ngIf="loading"
    class="w-full mx-10"
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>
</div>
