<div class="flex flex-column items-center mt-2">
  <p-toolbar class="p-0">
    <div class="p-toolbar-group-start flex gap-2">
      <!-- TODO: sort buttons and display styles etc -->
      <button pButton icon="pi pi-plus" label="test"></button>
      <button pButton icon="pi pi-print" label="test"></button>
      <button pButton icon="pi pi-upload" label="test"></button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText />
      </span>
    </div>
    <div class="p-toolbar-group-end">
      <!-- eslint-disable-next-line -->
      <button
        icon="pi pi-plus"
        pButton
        pRipple
        label="Add game"
        (click)="addNewGame()"
      ></button>
    </div>
  </p-toolbar>
</div>
